<!-- INCLUDE:  _includes_header -->
<%- include('../includes/_includes_header') %>

<!-- INCLUDE: _includes_navigation -->
<%- include('../includes/_includes_navigation') %>

<!-- INCLUDE: _includes_navigation_mobile -->
<%- include('../includes/_includes_navigation_mobile') %>

<!-- BEGIN: Content elements -->
<main>
    <%- body -%>
</main>
<!-- END: Content elements -->

<!-- INCLUDE: _includes_footer -->
<%- include('../includes/_includes_footer') %>