<section class="testimonials">
    <div class="testimonials--container">
        <div class="testimonials--container-inner width-s">
            <h2 class="center testimonials--headline">Testimonials</h2>
            <div class="splide testimonials--splide">
                <div class="splide__track">
                    <div class="splide__list">
                        <% if (typeof testimonials == 'object' && testimonials.length > 0) { %>
                            <% for (let singleTestimonial of testimonials){ %>
                                <div class="splide__slide">
                                    <div class="splide__slide__container">
                                        <% if(singleTestimonial.img) { %>
                                            <img src="<%= singleTestimonial.img %>"
                                                 class="splide--image"
                                                 width="284"
                                                 height="284"
                                                 data-splide-lazy="/img/testimonials/client1.jpg"
                                                 alt=""
                                                 title="">
                                        <% } %>
                                        <div class="testimonials--content">
                                            <a href="<%= singleTestimonial.link ? singleTestimonial.link: '#' %>"
                                                    <%= singleTestimonial.link && "class=testimonials--link" %>
                                               target="_blank">
                                                <% if(singleTestimonial.name) { %>
                                                    <h4><%= singleTestimonial.name %></h4>
                                                <% } %>
                                            </a>
                                            <% if(singleTestimonial.position) { %>
                                                <small><%= singleTestimonial.position %></small>
                                            <% } %>

                                            <% if(singleTestimonial.description) { %>
                                                <p><%= singleTestimonial.description %></p>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>

                        <% }} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>